@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #FEFEFE;
}

#header {
    float: top;
    width: 100%;
    margin-left: 3.5em;
    margin-top: 1.5em;
}

h1 {
    font-size: 2.5vw;
    margin-bottom: 0.5em;
    color: black;
    font-family: 'Montserrat', medium, serif;
    font-weight: normal;
}

h2 {
    font-size: 2.2vw;
    margin-top: 0;
    color: black;
    font-family: 'Montserrat', medium, serif;
    font-weight: normal;
}

#actions {
    width: 100%;
    margin-top: 5em;
    margin-left: 3.5em;
}

#choose-playlist {
    float: left;
    width: 33%;
}

#adjust-curve {
    float: left;
    width: 33%;
}

#save-playlist {
    float: left;
    width: 33%;
}

h3 {
    font-size: 1.3vw;
    margin-top: 0;
    color: black;
    font-family: 'Montserrat', bold, serif;
}

#draggable-container {
    width: 400px;
    height: 200px;
    background: #4d4d4d;
    display: block;
}