@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

html {
  height: 100%;
}

body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      background-color: #FEFEFE;
}

#app {
    height: 100%;
}

#draggable-container {
     width: 400px; 
     height: 200px;
     background: #4d4d4d;
     display: block;
}

#playback-container {
    width: 70%;
    height: 100%;
    float: right;
    background: url("../img/party-background.jpeg") no-repeat, black;
    background-size: cover;
}

#login-container {
    width: 30%;
    height: 100%;
    float: left;
    box-shadow: 2px 0 15px black;
    background: #FAFAFA
}

#login-avatar {
	width: 6vw;
	height: 6vw;
    margin: 4vw auto auto;
    display: block;
}

#login-button {
	width: 14vw;
	height: 3vw;
	display: block;
    cursor: pointer;
    margin: 3em auto auto;
    border-radius: 3vw;
	border: 0;
    background: #1db954;
	box-shadow: 0 2px 5px #888888;
    font-size: 1vw;
	font-weight: bold;
    color: white;
    font-family: 'Montserrat', bold, serif;
	outline: 0;
}

#login-button:hover {
	box-shadow: 0 4px 10px #888888;
}

#login-button:active {
	box-shadow: 0 2px 5px #888888;
}

h1 {
    position: relative;
    font-size: 4vw;
    margin-top: 1em;
    text-align: center;
    color: white;
    font-family: 'Montserrat', medium, serif
}

h2 {
    position: relative;
    font-size: 1.7vw;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: center;
    color: white;
    font-family: 'Montserrat', medium, serif
}

h3 {
	font-size: 1.8vw;
    margin-top: 2em;
    text-align: center;
    color: #252525;
    font-family: 'Montserrat', bold, serif
}

h4 {
	font-size: 0.8vw;
    margin-top: 4em;
	margin-left: 8em;
	margin-right: 6em;
    text-align: left;
    color: #252525;
    font-family: 'Montserrat', medium, serif
}

h5 {
	font-size: 0.9vw;
    margin-top: 10em;
	margin-left: 7em;
	margin-right: 6em;
    text-align: left;
    color: #252525;
    font-family: 'Montserrat', medium, serif
}

#support-paypal {
    width: 1.4vw;
    height: 1.4vw;
    margin-left: 6vw;
}

#support-github {
    width: 1.4vw;
    height: 1.4vw;
    margin-left: 0.4vw;
}

a {
    text-decoration: none;
}